@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  background-color: #dde5e8;
  display: grid;
  place-items: center;
}

section {
  width: 380px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
  section {
    width: 740px;
    display: flex;
  }
}
@media (min-width: 992px) {
  .container {
    width: 65%;
  }
}

.container {
  background-color: #2f3545;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container > h2 {
  color: #daaf57;
  font-size: 18px;
}
.container > .total h4 {
  margin: 0 0 10px 0;
}
.container > .total p {
  font-size: 20px;
}
.container > .total + div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container :where(.expense, .income) {
  font-size: 16px;
  border: 3px solid #06a084;
  color: #06a084;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .expense {
  border-color: #b64654;
  color: #b64654;
}
.container :where(.expense, .income) h3 {
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form label {
  display: block;
  font-size: 15px;
}
form .form-group select {
  outline: none;
  height: 32px;
  padding: 0 0 0 10px;
}
form .form-group input {
  height: 32px;
  padding: 0 0 0 10px;
  outline: none;
}
form .form-group input:focus,
form .form-group select:focus {
  box-shadow: rgba(16, 179, 233, 0.35) 0px 5px 15px;
}
form div:last-child {
  margin-top: 10px;
}
form div:last-child button {
  width: 100%;
  background-color: #46a0d9;
  height: 32px;
  color: white;
  border: none;
  cursor: pointer;
}
form div:last-child button:hover {
  background-color: #1693bc;
  border: 1px solid #075f95;
}
.transaction-container {
  width: 100%;
  background-color: #fff;
  padding: 7px;
}
.transaction-container table {
  width: 100%;

  border-collapse: collapse;
}
.transaction-container table td,
.transaction-container table th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

.transaction-container table td:last-child button {
  padding: 3px;
}
.transaction-container table td:last-child button:first-child {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 3px;
  /* font-size: 16px; */
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.transaction-container table td:last-child button:first-child:hover {
  background-color: #0056b3;
}
.transaction-container table td:last-child button:last-child {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 3px;
  /* font-size: 16px; */
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.transaction-container table td:last-child button:last-child:hover {
  background-color: #c82333;
}
/***********MODEL***************/

#modal {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#modal form {
  background-color: #fff;
  width: 400px;
  padding: 15px 20px;
}

#modal form > div:first-child {
  display: flex;
  justify-content: space-between;
}
#modal form > div:first-child button {
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border: none;
  color: rgb(119, 0, 0);
  border: 1px solid rgb(119, 0, 0);
  background-color: white;
  border-radius: 50%;
}
#modal form > div:first-child button:hover {
  cursor: pointer;
  color: rgb(119, 0, 0);
  background-color: rgb(245, 95, 95);
}

/***EMPTY MSG ELEMENT**/
#empty {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}
